<div class="container px-8 py-8">
  <ng-container *ngIf="error$ | async as error">
    <bm-notification-alert
      data-id="error-element"
      [error]="error"
      (closeErrorEventEmitter)="closeError()"
    ></bm-notification-alert>
  </ng-container>
  <ng-container *ngIf="showSaveSuccess$ | async as saved">
    <bm-success-alert
      [saved]="saved"
      [successMsg]="'Book has been saved successfully'"
    ></bm-success-alert>
  </ng-container>

  <ng-container *ngIf="books$ | async as books">
    <bm-book-list-item
      *ngFor="let b of books; index as id"
      [book]="b"
      [attr.data-id]="'book-item-' + id"
      class="item"
      [routerLink]="['/books/detail', b.isbn]"
    ></bm-book-list-item>
  </ng-container>
</div>
