<div class="container px-8 py-8">
  <ng-container *ngIf="error2$ | async as error">
    <bm-notification-alert [error]="error"></bm-notification-alert>
  </ng-container>
  <ng-container *ngIf="showSaveSuccess$ | async as saved">
    <bm-success-alert
      [saved]="saved"
      [successMsg]="'Book has been saved successfully'"
    ></bm-success-alert>
  </ng-container>
  <ng-container *ngIf="!error">
    <ng-container *ngIf="books2$ | async as books">
      <bm-book-list-item
        *ngFor="let b of books; index as id"
        [book]="b"
        class="item"
        [routerLink]="['/books/detail', b.isbn]"
      ></bm-book-list-item>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="loading$ | async">
    <div class="relative rounded-xl overflow-auto p-8">
      <div class="flex items-center justify-center">
        Loading...
        <div class="pl-5">
          <div
            class="w-6 h-6 border-b-2 border-slate-900 rounded-full animate-spin"
          ></div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
