<div class="container px-8 py-8">
  <ng-container *ngIf="error2$ | async as error">
    <div class="alert alert-error shadow-lg">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="stroke-current flex-shrink-0 h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
        <div>
          <h2 class="font-bold">Http: {{ error.http?.message }}</h2>
          <h2 class="font-bold">Non-Http: {{ error.text }}</h2>
          <div class="text-xs">
            Status: {{ error.http?.status }} <br />
            JSON:
            <pre><p>{{ error | json }}</p></pre>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!error">
    <ng-container *ngIf="books2$ | async as books">
      <bm-book-list-item
        *ngFor="let b of books; index as id"
        [book]="b"
        class="item"
        [routerLink]="['/books/detail', b.isbn]"
      ></bm-book-list-item>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="loading$ | async">
    <div class="relative rounded-xl overflow-auto p-8">
      <div class="flex items-center justify-center">
        Loading...
        <div class="pl-5">
          <div
            class="w-6 h-6 border-b-2 border-slate-900 rounded-full animate-spin"
          ></div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
