<nav>
  <div class="navbar bg-primary text-primary-content">
    <div class="flex-none">
      <a
        class="btn btn-ghost normal-case text-xl"
        routerLink="/home"
        routerLinkActive="active"
        i18n="@@Menu:home"
        >Home</a
      >
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal p-0">
        <li>
          <a
            routerLink="/books/list"
            routerLinkActive="active"
            i18n="@@Menu:booklist"
            >List</a
          >
        </li>
        <li>
          <a
            routerLink="/admin/create"
            routerLinkActive="active"
            i18n="@@Menu:admin"
            >Admin</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
