<nav>
  <div class="ui secondary menu container">
    <a
      class="item"
      routerLink="/list"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >List</a
    >
    <a
      class="item"
      routerLink="/detail/0"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Detail</a
    >
    <a class="item"> Item3 </a>
    <div class="right menu">
      <div class="item">
        <div class="ui icon input">
          <input type="text" placeholder="Search..."  />
          <i class="search link icon"></i>
        </div>
      </div>
      <a class="ui item"> Logout </a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
