<div
  *ngIf="!!error && (!!error.httpError || !!error.errorMessage) && show"
  class="fixed left-7 w-11/12 top-15 z-50 alert alert-error shadow-lg"
>
  <div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      class="stroke-current flex-shrink-0 w-6 h-6"
      (click)="close()"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
      />
    </svg>
    <div>
      <h3 class="font-bold">Http: {{ error.httpError?.message }}</h3>
      <h3 class="font-bold">Non-Http: {{ error.errorMessage }}</h3>
      <div [attr.data-id]="'errorAlert'" class="text-xs">
        Status: {{ error.httpError?.status }} <br />
        HTTP-Error-Response:
        <pre><p>{{stringify(error,undefined,2)}}</p></pre>
      </div>
    </div>
  </div>
  <div class="flex-none"></div>
</div>
