<div class="ui container">
  <ng-container *ngIf="isNew || book; else loading">
    <form
      class="ui form"
      [formGroup]="editForm"
      (ngSubmit)="bookFormSaveBook()"
    >
      <div class="field">
        <label for="title">Title: </label>
        <input id="title" type="text" formControlName="title" />
      </div>
      <bm-form-messages
        [control]="editForm.get('title')"
        controlName="title"
      ></bm-form-messages>
      <div class="field">
        <label for="subtitle">Subtitle: </label>
        <input id="subtitle" type="text" formControlName="subtitle" />
      </div>

      <div class="field">
        <label for="isbn">ISBN: </label>
        <input id="isbn" type="text" formControlName="isbn" required />
        <bm-form-messages
          [control]="editForm.get('isbn')"
          controlName="isbn"
        ></bm-form-messages>
      </div>

      <div class="field">
        <label for="published">Published: </label>
        <input id="published" type="text" formControlName="published" />
      </div>
      <div class="field">
        <label for="description">Description: </label>
        <input id="description" type="text" formControlName="description" />
      </div>

      <h4 class="ui dividing header">Authors:</h4>
      <ng-container *ngIf="authors?.controls">
        <div
          formArrayName="authors"
          class="inline fields"
          *ngFor="let auth of authors.controls; index as i"
        >
          <div class="field">
            <input type="text" [formControlName]="i" />
          </div>
        </div>
      </ng-container>
      <h4 class="ui dividing header">Thumbs:</h4>
      <div class="inline fields">
        <ng-container *ngIf="thumbnails?.controls">
          <div
            class="inline fields"
            formArrayName="thumbnails"
            *ngFor="let thumb of thumbnails?.controls; index as j"
          >
            <div class="inline fields" [formGroupName]="j">
              <div class="field">
                <input id="url" type="text" formControlName="url" />
              </div>
              <div class="field">
                <input type="text" formControlName="title" />
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <button
        type="submit"
        class="ui disabled button"
        [class.disabled]="editForm.invalid"
        [class.primary]="!editForm.invalid"
      >
        Save
      </button>
    </form>
  </ng-container>
  <ng-template #loading>
    <p>Waiting ...</p>
  </ng-template>
</div>
