<div class="ui container">
  <ng-container *ngIf="isNew || book; else loading">
    <form
      class="ui form"
      [formGroup]="editForm"
      (ngSubmit)="bookFormSaveBook()"
    >
      <div class="field">
        <label for="title">Title: </label>
        <input id="title" type="text" formControlName="title" />
      </div>
      <bm-form-messages
        [control]="editForm.get('title')"
        controlName="title"
      ></bm-form-messages>
      <div class="field">
        <label for="subtitle">Subtitle: </label>
        <input id="subtitle" type="text" formControlName="subtitle" />
      </div>

      <div class="field">
        <label for="isbn">ISBN: </label>
        <input id="isbn" type="text" formControlName="isbn" required />
        <bm-form-messages
          [control]="editForm.get('isbn')"
          controlName="isbn"
        ></bm-form-messages>
      </div>

      <div class="field">
        <label for="published">Published: </label>
        <input id="published" type="text" formControlName="published" />
      </div>
      <div class="field">
        <label for="description">Description: </label>
        <input id="description" type="text" formControlName="description" />
      </div>
      <div class="ui segment">
        <h4 class="ui dividing header">Authors:</h4>
        <ng-container *ngIf="authors?.controls">
          <div
            formArrayName="authors"
            class="inline fields"
            *ngFor="let auth of authors.controls; index as i"
          >
            <div class="field">
              <input type="text" [formControlName]="i" />
            </div>
            <button
              class="circular red ui minus icon button"
              (click)="removeAuthor(i)"
            >
              <i class="minus icon"></i>
            </button>
          </div>
        </ng-container>
        <button
          class="circular green ui minus icon button"
          (click)="addAuthor()"
        >
          <i class="plus icon"></i>
        </button>
      </div>

      <div class="ui segment">
        <h4 class="ui dividing header">Thumbs:</h4>
        <ng-container *ngIf="thumbnails?.controls">
          <div
            class="inline fields"
            formArrayName="thumbnails"
            *ngFor="let thumb of thumbnails?.controls; index as j"
          >
            <div class="inline fields" [formGroupName]="j">
              <div class="field">
                <input id="url" type="text" formControlName="url" />
              </div>
              <div class="field">
                <input type="text" formControlName="title" />
              </div>
              <button
                class="circular red ui minus icon button"
                (click)="removeThumb(j)"
              >
                <i class="minus icon"></i>
              </button>
            </div>
          </div>
        </ng-container>
        <button
          class="circular green ui minus icon button"
          (click)="addThumb()"
        >
          <i class="plus icon"></i>
        </button>
      </div>
      <div *ngIf="saved" class="ui bottom attached info message">
        <i class="icon save"></i>
        Book saved! {{ successMsg }}
      </div>
      <button
        type="submit"
        class="ui disabled button"
        [class.disabled]="editForm.invalid"
        [class.primary]="!editForm.invalid"
      >
        Save
      </button>
    </form>
  </ng-container>
  <ng-template #loading>
    <p>Waiting ...</p>
  </ng-template>
</div>
