<div class="ui container">
  <h2 i18n="@@HomeComponent:header">Book-Monkey</h2>
  <a
    routerLink="../books/list"
    class="inline-flex items-center px-4 py-2 font-semibold leading-6 text-sm shadow rounded-md text-white bg-indigo-500 hover:bg-indigo-400 transition ease-in-out duration-150"
    i18n="text of link to books screen@@HomeComponent:book list link"
    >book list show
    <arrow-circle-right-outline-icon></arrow-circle-right-outline-icon>
  </a>
  <p></p>

  <bm-search></bm-search>
</div>
