<div class="ui middle aligned selection divided list">
  <ng-container *ngIf="error">
    <div class="ui message">
      <i class="close icon"></i>
      <div class="header">Fehler!</div>
      <p>{{ error }} <br /></p>
    </div>
  </ng-container>

  <ng-container *ngIf="!book">
    <div class="ui main text container">
      <div class="ui container">
        <div class="ui segment">
          <div class="ui active inverted dimmer">
            <div class="ui large text loader">Loading</div>
          </div>
          <div class="ui placeholder">
            <div class="image header">
              <div class="line"></div>
              <div class="line"></div>
            </div>
            <div class="paragraph">
              <div class="line"></div>
              <div class="line"></div>
              <div class="line"></div>
              <div class="line"></div>
              <div class="line"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="book">
    <div class="ui container">
      <h2>{{ book.title }}</h2>
      <h3>{{ book.subtitle }}</h3>
      <div class="ui divider"></div>
      <div class="ui grid">
        <div class="four wide column">
          <h4>Autoren:</h4>
          <ng-container *ngFor="let author of book.authors">
            {{ author }}<br />
          </ng-container>
        </div>
        <div class="four wide column">
          <h4>ISBN:</h4>
          {{ book.isbn }}
        </div>
        <div class="four wide column">
          <h4>Erschienen:</h4>
          {{ book.published | date: 'dd.MM.YYYY' }}
        </div>
        <div class="four wide column">
          <h4>Rating:</h4>
          <ng-container *ngIf="book.rating">
            <ng-container
              *ngFor="let dummy of ','.repeat(book.rating - 1).split(',')"
            >
              <i class="yellow star icon"> </i
            ></ng-container>
          </ng-container>
        </div>
      </div>
      <h4>Beschreibung:</h4>
      <p>{{ book.description }}</p>
      <img
        class="ui middle aligned small image"
        src="{{book?.thumbnails?.[0]?.url}}"
        alt="{{book?.thumbnails?.[0]?.title}}"
      /><br />
      <br />
      <button class="red ui button" (click)="delete(book?.isbn)">Delete</button>
      <button class="blue ui button" routerLink="/list">
        Zurück zur Buchliste
      </button>
      <button class="blue ui button">weiter</button>
    </div>
  </ng-container>
</div>
